.Movie{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Movie .movie_wrapper{
    width: 100%;
    max-width: 1650px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 10px auto;
}